<style>
  body {
    color: <%= @color %>;
  }
</style>

<h1>About My Travel Site</h1>
<p>It's really awesome.</p>
<p>My favorite color is <%= @color %></p>
<!-- <p>My shoe size is <%#= @size %></p>
 -->
<% if @size > 12 %>
  <p>My shoe size is <%= @size %>. I have HUGE feet.</p>
<% else %>
  <p>My shoe size is <%= @size %></p>
<% end %>

  <%= link_to "Blue", {controller: "welcome", action: "about", color: "blue"}, class: "btn btn-primary" %>

  <%= link_to "Red", {controller: "welcome", action: "about", color: "red"}, class: "btn btn-danger" %>

  <p>Slow-carb fingerstache retro yr, biodiesel selvage 8-bit ennui synth viral gluten-free Truffaut cred tofu. Artisan semiotics chambray master cleanse, pop-up ugh Helvetica. McSweeney's letterpress hoodie Marfa chillwave YOLO, disrupt beard bitters messenger bag. Literally Vice Odd Future umami, disrupt art party dreamcatcher skateboard bespoke Pinterest shabby chic health goth. Portland roof party lomo DIY. Thundercats mlkshk sustainable, tattooed mustache next level blog. Sriracha bitters distillery tote bag tousled mustache, forage biodiesel locavore.</p>

 <p>Mumblecore gastropub lomo, selfies master cleanse normcore messenger bag swag McSweeney's photo booth organic polaroid meggings artisan skateboard. Fixie Shoreditch Etsy cred keffiyeh, 90's quinoa semiotics put a bird on it cray. Gentrify Pinterest cold-pressed brunch, chia PBR&B ugh hashtag trust fund. Butcher kitsch PBR salvia keytar. Irony PBR&B tousled, occupy Echo Park Bushwick cardigan crucifix scenester McSweeney's keytar actually four loko raw denim. Skateboard literally American Apparel lo-fi cold-pressed roof party church-key aesthetic, you probably haven't heard of them squid. Pitchfork YOLO plaid tilde fap Truffaut.</p>

 <p>VHS PBR pork belly Shoreditch, Truffaut hella seitan cardigan. Lomo stumptown slow-carb banjo, beard meggings hoodie Etsy small batch flexitarian Portland tote bag. Fashion axe literally forage, tousled taxidermy shabby chic migas post-ironic semiotics hashtag deep v tofu. Etsy Godard mustache before they sold out PBR, four loko 90's. Yr craft beer Carles, tousled hoodie semiotics 90's. Fixie wolf normcore keffiyeh gluten-free roof party, salvia viral. Tilde Pinterest you probably haven't heard of them Blue Bottle art party, Williamsburg sustainable yr mlkshk cold-pressed keytar freegan Neutra gentrify health goth. <p>
